/* components/RotatingBanner.css */
.rotating-banner-container {
  width: 140%;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 0;
  height: 25%;
  z-index: 1;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.rotating-banner {
  display: flex;

  animation: scroll-banner 8s linear infinite;
}

.rotating-banner img {
  width: 100%;
  padding-right: 25px;
  box-sizing: border-box;
}

@keyframes scroll-banner {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}